
    <a href="/">Home</a>
    <div id="root"></div>
  <script type="text/javascript" src="/build/bundle.js"></script>
  <footer id="footer">
    <a href="#" id="more-lnk" class="info fa fa-info-circle" onclick="showDetail()"><span>About</span></a>
    <div class="inner">
    Coded by: <a href="https://www.freecodecamp.org/johnnybizzel">Johnny Bizzel</a> @
    <br/>
    <img src="https://d33wubrfki0l68.cloudfront.net/4ba4ee4d1ac4caf5c0c3fa44ccc8fddd5bd11222/3f5b1/img/freecodecamp-alternative.png" 
    style="width: 180px">
    <br/>
    <a href="#" id="hide" onclick='hideDetail()'>[X]</a>
    </div>
  </footer>
  <script type="text/javascript">
  function showDetail() {
    var more = document.getElementById('more-lnk');
    more.style.display = 'none';
    document.getElementById('more-detail').style.display = 'block';
  }
  
  function hideDetail() {
    document.getElementById('more-lnk').style.display = 'block';
    document.getElementById('more-detail').style.display = 'none';
  }
  </script>
